html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #999;
    padding: 0;
    margin-bottom: 10px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=5);
}
input, select {
    vertical-align: middle;
}
::-moz-selection{
    background: rgba(199, 199, 199, .6);
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, .2);
}
a::-moz-selection{
    background: rgba(199, 199, 199, .6);
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
::selection{
    background: rgba(199, 199, 199, .6);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
a::selection{
    background: rgba(199, 199, 199, .6);
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

/*
*	FONTS
*/

@font-face {
    font-family: 'wisdom';
    src: url('../coe-assets/fonts/wisdom_script/wisdom_script.eot');
    src: url('../coe-assets/fonts/wisdom_script/wisdom_script.eot?#iefix') format('embedded-opentype'),
    	 url('../coe-assets/fonts/wisdom_script/wisdom_script.woff') format('woff'),
		 url('../coe-assets/fonts/wisdom_script/wisdom_script.ttf') format('truetype'),
		 url('../coe-assets/fonts/wisdom_script/wisdom_script.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'powdah';
    src: url('../coe-assets/fonts/powdah/powdah.eot');
    src: url('../coe-assets/fonts/powdah/powdah.eot?#iefix') format('embedded-opentype'),
    	 url('../coe-assets/fonts/powdah/powdah.woff') format('woff'),
		 url('../coe-assets/fonts/powdah/powdah.ttf') format('truetype'),
		 url('../coe-assets/fonts/powdah/powdah.svg#svgFontName') format('svg');
}

/*
*	GLOBAL
*/

html, body { height: 100%; }

a { color: inherit; text-decoration: none; }

h1 {
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #3d3d3d;
	margin-bottom: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
*	UI
*/

.coe-ui_heart {
	display: block;
	width: 16px; height: 12px;
	background: url('../coe-assets/img/heart.png');
}

.coe-ui_view {
	display: block;
	width: 16px; height: 12px;
	background: url('../coe-assets/img/view.png');
}

#coe-ui_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 13;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

/*
*	SCROLLBAR SETTINGS
*/

#coe-main .viewport { width: auto; height: 100%; overflow: hidden; }
#coe-main .overview { width: auto; height: 100%; position: absolute; left: 0; top: 0; padding-bottom: 100px; margin: 0; }
#coe-main .scrollbar{ background-color: transparent; position: absolute; right: 0; width: 15px; z-index: 1336; }
#coe-main .track { background-color: transparent; height: 100%; width:8px; padding-top: 200px; }
#coe-main .thumb { background-color: #333; height: 10px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; border-radius: 3px }
#coe-main .thumb .end { background-color: green; overflow: hidden; height: 0; width: 0; }
#coe-main .disable { display: none; }

/*
*	MAIN
*/

#coe-main {
	height: 100%;
	overflow: hidden;
	font-family: Helvetica, "Helvetica Neue", "Helvetica-Neue", Arial, sans-serif;
	position: relative;
	background: url('../coe-assets/img/coe-main.png') repeat;
	color: #d3d3d3;
}

	header {
		position: fixed;
		top: 0; left: 0;
		z-index: 1337;
		width: 100%; height: 51px;
		text-align: center;
		background: url('../coe-assets/img/coe-header.png') repeat-x;
		-moz-box-shadow: 0px -2px 3px rgba(10, 10, 10, .5);
		-webkit-box-shadow: 0px 2px 3px rgba(10, 10, 10, .5);
		box-shadow: 0px 2px 3px rgba(10, 10, 10, .5);
	}

		#coe-header_wrapper { height: 100%; width: 100%; position: relative; }

			#coe-header_logo { 
				font-family: "wisdom", Helvetica, "Helvetica Neue", Arial, sans-serif;
				font-size: 36px;
				line-height: 51px;
			}

			#coe-header_back { 
				position: absolute;
				width: 328px;
				height: 35px;
				padding: 16px 20px 0 0;
				left: -350px;
				border-right: 1px solid #000;
				-moz-box-shadow: 1px 0px 0px rgba(220,220,220,.1);
				-webkit-box-shadow: 1px 0px 0px rgba(220,220,220,.1);
				box-shadow: 1px 0px 0px rgba(220,220,220,.1);
			}

				.coe-header_back-link { 
					font-size: 0.813em;
					padding: 5px 30px;
					background: #2e2e2e;
					background: -moz-linear-gradient(top,  #2e2e2e 0%, #212121 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#212121));
					background: -webkit-linear-gradient(top,  #2e2e2e 0%,#212121 100%);
					background: -o-linear-gradient(top,  #2e2e2e 0%,#212121 100%);
					background: -ms-linear-gradient(top,  #2e2e2e 0%,#212121 100%);
					background: linear-gradient(top,  #2e2e2e 0%,#212121 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#212121',GradientType=0 );
					border: 1px solid #161616;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					-moz-box-shadow: 0px 1px 0px rgba(220,220,220,.1);
					-webkit-box-shadow: 0px 1px 0px rgba(220,220,220,.1);
					box-shadow: 0px 1px 0px rgba(220,220,220,.1);
				}

			#coe-header_social { float: right; margin: 11px 18px 0 0; }

				#coe-header_social li {
					display: inline-block;
					vertical-align: middle;
					width: 33px; height: 26px;
					border: 1px solid #161616;
					-moz-box-shadow: 0px 1px 0px rgba(220,220,220,.1);
					-webkit-box-shadow: 0px 1px 0px rgba(220,220,220,.1);
					box-shadow: 0px 1px 0px rgba(220,220,220,.1);
				}

					#coe-header_social li a { 
						font-size: 0px;
						display: block;
						width: 33px;
						height: 26px;
						overflow: hidden;
						text-indent: -999999px;
					}

				#coe-header_social li:first-child {
					background: #b33508;
					background: -moz-linear-gradient(top,  #b33508 0%, #8a2802 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b33508), color-stop(100%,#8a2802));
					background: -webkit-linear-gradient(top,  #b33508 0%,#8a2802 100%);
					background: -o-linear-gradient(top,  #b33508 0%,#8a2802 100%);
					background: -ms-linear-gradient(top,  #b33508 0%,#8a2802 100%);
					background: linear-gradient(top,  #b33508 0%,#8a2802 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b33508', endColorstr='#8a2802',GradientType=0 );
				}

					#coe-header_social li:first-child a {
						background: url("../coe-assets/img/social_more.png");
					}

				#coe-header_social li:nth-child(2) {
					background: #ce590a;
					background: -moz-linear-gradient(top,  #ce590a 0%, #973e07 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce590a), color-stop(100%,#973e07));
					background: -webkit-linear-gradient(top,  #ce590a 0%,#973e07 100%);
					background: -o-linear-gradient(top,  #ce590a 0%,#973e07 100%);
					background: -ms-linear-gradient(top,  #ce590a 0%,#973e07 100%);
					background: linear-gradient(top,  #ce590a 0%,#973e07 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce590a', endColorstr='#973e07',GradientType=0 );
				}

					#coe-header_social li:nth-child(2) a {
						background: url("../coe-assets/img/social_su.png");
					}

				#coe-header_social li:last-child {
					background: #0493bc;
					background: -moz-linear-gradient(top,  #0493bc 0%, #096f95 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0493bc), color-stop(100%,#096f95));
					background: -webkit-linear-gradient(top,  #0493bc 0%,#096f95 100%);
					background: -o-linear-gradient(top,  #0493bc 0%,#096f95 100%);
					background: -ms-linear-gradient(top,  #0493bc 0%,#096f95 100%);
					background: linear-gradient(top,  #0493bc 0%,#096f95 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0493bc', endColorstr='#096f95',GradientType=0 );
				}

					#coe-header_social li:nth-child(3) a {
						background: url("../coe-assets/img/social_tw.png");
					}

				#coe-header_social li:not(:first-child) { margin-left: 15px; }

	#coe-main_content {
		position: relative;
		padding-top: 70px;
		height: 100%;
		font-family: 'powdah', Helvetica, "Helvetica Neue", "Helvetica-Neue", Arial, sans-serif;
		font-size: 12px;
		color: #3d3d3d;
		overflow: hidden;
	}

		#coe-main_single {
			position: absolute;
			left: -350px;
			top: 51px;
			z-index: 15;
			width: 328px;
			height: 100%;
			padding: 10px;
			background-color: rgba(0,0,0,.2);
			border-right: 1px solid #000;
			-moz-box-shadow: 1px 0px 0px rgba(220,220,220,.1);
			-webkit-box-shadow: 1px 0px 0px rgba(220, 220, 220, .1);
			box-shadow: 1px 0px 0px rgba(220, 220, 220, .1);
		}

			#coe-main_single h1 { color: #e5e5e5; }

			#coe-main_single-close {
				position: absolute;
				right: 5px;
			}

		#coe-main_feed { 
			position: absolute;
			left: 0; top: 0;
			height: 100%; 
			padding: 5px 44px;
		}

			.coe-main_item-image { height: 132px; }

			.coe-main_item-infos { 
				padding: 10px;
				border-top: 1px solid #FFF;
				background: #e5e5e5;
				background: -moz-linear-gradient(top, #e5e5e5 1%, #ffffff 23%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e5e5e5), color-stop(23%,#ffffff));
				background: -webkit-linear-gradient(top, #e5e5e5 1%, #ffffff 23%);
				background: -o-linear-gradient(top, #e5e5e5 1%, #ffffff 23%);
				background: -ms-linear-gradient(top, #e5e5e5 1%, #ffffff 23%);
				background: linear-gradient(to bottom, #e5e5e5 1%, #ffffff 23%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5',endColorstr='#ffffff',GradientType=0);

			}

				.coe-main_item-infos_source { font-size: 10px; margin-bottom: 20px; }

				.coe-main_item-infos_tags { color: #086e80; max-width: 170px; }

					.coe-main_item-infos_tags li { display: inline-block; }

					.coe-main_item-infos_tags li:not(:last-child):after {
						content: ",";
					}

			.coe-main_item-more {
				position: absolute;
				width: 24px;
				height: 35px;
				bottom: 10px;
				right: 10px;
			}

				.coe-main_item-more span { margin: 0 auto; }

				.coe-main_item-more .coe-ui_heart { margin-bottom: 11px; }

		#coe-main_content .coe-main_feed-item { 
			width: 225px;
			background-color: #FFF;
			float: left;
			overflow: hidden;
			position: relative;
			margin: 10px 16px;
			-webkit-box-shadow: 0 4px 7px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: 0 4px 7px 2px rgba(0,0,0,0.6);
			box-shadow: 0 4px 7px 2px rgba(0,0,0,0.6);
		}

		.isotope-item {
			z-index: 2;
		}

		.isotope-hidden.isotope-item {
			pointer-events: none;
			z-index: 1;
		}

		.isotope,
		.isotope .isotope-item {
		  -webkit-transition-duration: 0.8s;
		     -moz-transition-duration: 0.8s;
		      -ms-transition-duration: 0.8s;
		       -o-transition-duration: 0.8s;
		          transition-duration: 0.8s;
		}

		.isotope {
		  -webkit-transition-property: height, width;
		     -moz-transition-property: height, width;
		      -ms-transition-property: height, width;
		       -o-transition-property: height, width;
		          transition-property: height, width;
		}

		.isotope .isotope-item {
		  -webkit-transition-property: -webkit-transform, opacity;
		     -moz-transition-property:    -moz-transform, opacity;
		      -ms-transition-property:     -ms-transform, opacity;
		       -o-transition-property:         top, left, opacity;
		          transition-property:         transform, opacity;
		}

	footer {
		position: fixed;
		bottom: 0; left: 0;
		z-index: 1337;
		width: 100%; height: 51px;
		background: url('../coe-assets/img/coe-footer.png') repeat-x;
		-moz-box-shadow: 0px -2px 3px rgba(10, 10, 10, .5);
		-webkit-box-shadow: 0px -2px 3px rgba(10, 10, 10, .5);
		box-shadow: 0px -2px 3px rgba(10, 10, 10, .5);
	}

		#coe-footer_nav{
			width: 695px;
			margin: 0 auto;
		}

			#coe-footer_nav li {
				position: relative;
				display: inline-block;
				font-family: "powdah", Helvetica, "Helvetica Neue", "Helvetica-Neue", Arial, sans-serif;
				font-size: 0.650em;
				letter-spacing: 1px;
				width: 85px; height: 51px;
				text-align: center;
			}

				#coe-footer_nav li a {
					display: block;
					width: 85px; height: 51px;
					padding-top: 34px;
				}

				#feed_overlay { 
					position: absolute;
					top: -5px;
					left: 0;
					width: 83px; height: 6px;
					background: #393838;
					background: -moz-linear-gradient(top,  #393838 0%, #303030 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393838), color-stop(100%,#303030));
					background: -webkit-linear-gradient(top,  #393838 0%,#303030 100%);
					background: -o-linear-gradient(top,  #393838 0%,#303030 100%);
					background: -ms-linear-gradient(top,  #393838 0%,#303030 100%);
					background: linear-gradient(top,  #393838 0%,#303030 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393838', endColorstr='#303030',GradientType=0 );
					border-top: 1px solid #161616;
					border-left: 1px solid #161616;
					border-right: 1px solid #161616;
					-webkit-border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
					-moz-border-radius-topleft: 4px;
					-moz-border-radius-topright: 4px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					-moz-box-shadow: 0px -2px 3px rgba(10, 10, 10, .5), inset 0px 1px 0px rgba(220,220,220,0.2);
					-webkit-box-shadow: 0px -2px 3px rgba(10, 10, 10, .5), inset 0px 1px 0px rgba(220,220,220,0.2);
					box-shadow: 0px -2px 3px rgba(10, 10, 10, .5), inset 0px 1px 0px rgba(220,220,220,0.2);
				}

			#coe-footer_nav li:first-child { margin-right: 55px; }
			#coe-footer_nav li:nth-child(2),
			#coe-footer_nav li:nth-child(3) { margin-right: 72px; }
			#coe-footer_nav li:last-child { margin-left: 55px; }

			#coe-footer_nav li:first-child { background: url("../coe-assets/img/work.png"); }
			#coe-footer_nav li:nth-child(2) { background: url("../coe-assets/img/team.png"); }
			#coe-footer_nav li:nth-child(3) { background: url("../coe-assets/img/feed.png"); }
			#coe-footer_nav li:nth-child(4) { background: url("../coe-assets/img/schedule.png"); }
			#coe-footer_nav li:last-child { background: url("../coe-assets/img/contact.png"); }

			.jspContainer
			{
				overflow: hidden;
				position: relative;
			}

			.jspPane
			{
				position: absolute;
			}

			.jspVerticalBar
			{
				position: absolute;
				top: 0;
				right: 5px;
				width: 8px;
				margin: 55px 0 55px;
				height: 100%;
				background: #333;
				border-radius: 3px;
			}

			.jspHorizontalBar
			{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 16px;
				background: #333;
				border-radius: 3px;
			}

			.jspVerticalBar *,
			.jspHorizontalBar *
			{
				margin: 0;
				padding: 0;
			}

			.jspCap
			{
				display: none;
			}

			.jspHorizontalBar .jspCap
			{
				float: left;
			}

			.jspTrack
			{
				background: #333;
				position: relative;
				border-radius: 3px;
			}

			.jspDrag
			{
				background: #444;
				position: relative;
				top: 0;
				left: 0;
				cursor: pointer;
				border-radius: 3px;
			}

			.jspHorizontalBar .jspTrack,
			.jspHorizontalBar .jspDrag
			{
				float: left;
				height: 100%;
			}

			.jspArrow
			{
				background: #50506d;
				text-indent: -20000px;
				display: block;
				cursor: pointer;
			}

			.jspArrow.jspDisabled
			{
				cursor: default;
				background: #80808d;
			}

			.jspVerticalBar .jspArrow
			{
				height: 16px;
			}

			.jspHorizontalBar .jspArrow
			{
				width: 16px;
				float: left;
				height: 100%;
			}

			.jspVerticalBar .jspArrow:focus
			{
				outline: none;
			}

			.jspCorner
			{
				background: #eeeef4;
				float: left;
				height: 100%;
			}

			/* Yuk! CSS Hack for IE6 3 pixel bug :( */
			* html .jspCorner
			{
				margin: 0 -3px 0 0;
			}